# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.mk
*.map

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

/examples/RemoteSystemsTempFiles/
/examples/.metadata
~*
